@model FullCalenderEvent.Models.eventFiles

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Edit";
}
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: false
            });
        })
    </script>
}



<div class="container" >
    <h2 style="text-align:center">Edit EventFiles</h2>


    @using (Html.BeginForm("Edit", "eventFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Event Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("EventName", (SelectList)ViewBag.evntlist, string.Empty, new { @class = "form-control selectpicker", data_live_search = "true", data_show_subtext = "false", @onchange = "CallChangefunc(this.value)" })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (Model.fileFolder != null)
            {
                <div class="form-group">
                    @Html.Label("File", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <a href="@Url.Content(Model.fileFolder)" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o fa-2x" style="color:darkred" aria-hidden="true"></i> </a>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <div class="col-md-10 input-group">
                        <span class="input-group-addon">File</span>
                        <input class="btn btn-default form-control" type="file" title="search image" id="fileOther1Doc" name="fileOther1Doc" onchange="show3(this)" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

