<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DNT Calender Event</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color:yellow">@Html.ActionLink("Event Calender", "Index", "Home", new { area = "" }, new { @class = "navbar-brand",@style = "color:Yellow" })</li>
                    <li>@Html.ActionLink("Add Event", "Index", "eventDdays")</li>
                    <li>@Html.ActionLink("View Archieve", "archievView", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class=" body-content">
        @RenderBody()
        <hr />
        <footer style="background-color:dimgray;color:whitesmoke;text-align:center;height:80px">
            <br/>
            <p style="font-size:small">DNT -- Bangladesh NAVY</p>
            <p style="font-size:smaller;color:yellow">&copy; @DateTime.Now.Year - Intricate LAB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
