@model FullCalenderEvent.Models.DdayDetails
@using FullCalenderEvent.Controllers;
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "Create";
}
<style>
.fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}
</style>


<script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        specialKeys.push(9); //Tab
        specialKeys.push(46); //Delete
        specialKeys.push(36); //Home
        specialKeys.push(35); //End
        specialKeys.push(37); //Left
        specialKeys.push(39); //Right
        function IsAlphaNumeric(e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));
            //document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
</script>

@section Scripts{
    <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        specialKeys.push(9); //Tab
        specialKeys.push(46); //Delete
        specialKeys.push(36); //Home
        specialKeys.push(35); //End
        specialKeys.push(37); //Left
        specialKeys.push(39); //Right
        specialKeys.push(32); //Right
        specialKeys.push(189); //Right
        function IsAlphaNumeric(e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode || keyCode == 32) || keyCode == 189);
            //document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
    </script>

    <script>
        $(document).ready(function () {
            var tableIndex = 0;

            $('#isFullDayMain').click(function(){
                var ddaydiv = document.getElementById('ddaydiv');
                var ddaydiv2 = document.getElementById('ddaydiv2');
                if($('#isFullDayMain').is(":checked") ){
                    ddaydiv.style.display = "none";
                    ddaydiv2.style.display = "block";

                }
                else{
                    ddaydiv.style.display = "block";
                    ddaydiv2.style.display = "none";
                }
            })
            mf();
            function mf() {
                ///
                var ddaydiv = document.getElementById('ddaydiv');
                var ddaydiv2 = document.getElementById('ddaydiv2');
                ddaydiv.style.display = "block";
                ddaydiv2.style.display = "none";
                ///

                var sqldate = @Html.Raw(Json.Encode(DateTime.Now));
                var orderdate = new Date(parseInt(sqldate.replace("/Date(", "").replace(")/",""), 10));
                orderdate.setHours(12, orderdate.getTimezoneOffset(), 0, 0);
                var date = new Date(orderdate);
                var dts = date.toISOString();
                var enddate = @Html.Raw(Json.Encode(DateTime.Now.AddDays(1)));
                var endorderdate = new Date(parseInt(enddate.replace("/Date(", "").replace(")/",""), 10));
                endorderdate.setHours(12, endorderdate.getTimezoneOffset(), 0, 0);
                var date2 = new Date(endorderdate);
                var dts2 = date2.toISOString();
                //alert(date.toLocaleString());
                $("#Dday").val(dts.substring(0, dts.length - 1));
                $("#DdayEnd").val(dts2.substring(0, dts.length - 1));

                $("#Dday2").val(dts.substring(0, dts.length - 14));
                $("#DdayEnd2").val(dts2.substring(0, dts.length - 14));

                $("#start").val(dts.substring(0, dts.length - 1));
                $("#end").val(dts2.substring(0, dts.length - 1));
            }

            $('#Subject').siblings('span.error').css('visibility', 'hidden');
            $('#Description').siblings('span.error').css('visibility', 'hidden');
            $('#start').siblings('span.error').css('visibility', 'hidden');

            $("#EventDay").change(function () {
                $("#Subject").val($('#EventDay').val() + " - 0");
                //alert("The text has been changed.");
            });

            function keyevent() {
                var vr = $("#Subject").val().match(/\d+/)
                if (vr != null) {
                    var date = new Date($("#Dday").val());
                    var newdate = new Date(date);//vr;
                    newdate.setDate(newdate.getDate() - vr + 1);
                    newdate.setHours(-12, newdate.getTimezoneOffset(), 0, 0);// Remove Time Zone Offset

                    var dts = newdate.toISOString();
                    $("#start").val(dts.substring(0, dts.length - 1));
                    newdate.setDate(newdate.getDate() + 1);
                    dts = newdate.toISOString();
                    $("#end").val(dts.substring(0, dts.length - 1));

                }
            }
            $("#Subject").keypress(function () {
                keyevent();
            });
            $("#Subject").keydown(function () {
                keyevent();
            });
            $("#Subject").keyup(function () {
                keyevent();
            });
            function changeDateVal(field) {
                    var date = new Date(field);
                    var newdate = new Date(date);
                    newdate.setHours(-12, newdate.getTimezoneOffset(), 0, 0);// Remove Time Zone Offset

                    newdate.setDate(newdate.getDate() + 1);
                    var dts = newdate.toISOString();

                    $("#DdayEnd").val(dts.substring(0, dts.length - 1));

                    $("#start").val(dts.substring(0, dts.length - 1));
                    newdate.setDate(newdate.getDate() + 0);
                    dts = newdate.toISOString();
                    $("#end").val(dts.substring(0, dts.length - 1));
                
            };
            ///
            function changeDateVal2(field) {
                var date = new Date(field);
                var newdate = new Date(date);
                newdate.setHours(-12, newdate.getTimezoneOffset(), 0, 0);// Remove Time Zone Offset

                newdate.setDate(newdate.getDate() + 1);
                var dts = newdate.toISOString();

                $("#DdayEnd2").val(dts.substring(0, dts.length - 14));

                $("#start").val(dts.substring(0, dts.length - 1));
                newdate.setDate(newdate.getDate() + 0);
                dts = newdate.toISOString();
                $("#end").val(dts.substring(0, dts.length - 1));
                
            };
            ///

            $("#Dday").change(function () {
                changeDateVal($('#Dday').val());
            });
            $("#Dday2").change(function () {
                changeDateVal2($('#Dday2').val());
            });
            var DdayDetails = [];

            $('#add').click(function () {
                var isValidItem = true;
                if ($('#EventDay').val().trim() == '') {
                    alert('Please Add Event Name First');
                    return;
                }
                if ($('#Subject').val().trim() == '') {
                    alert("Please add a Subject");
                    return;
                }


                if (isValidItem)
                {
                    DdayDetails.push({
                        Id:0,
                        Subject: $('#Subject').val().trim(),
                        Description: $('#Description').val().trim(),
                        start: $('#start').val(),
                        end: $('#end').val(),
                        Color: $('#Color').val().trim(),
                        isFullDay: $('#isFullDay').is(":checked") || false
                    });
                }
                GeneratedItemsTable();
            });

            function GeneratedItemsTable() {
                tableIndex++;
                $("#Subject").val($('#EventDay').val() + " - " + tableIndex.toString());
                //changeDateVal();
                {
                    var $table = $('<table class="table"/>');
                    $table.append('<thead><th >Subject</th><th style="text-align:center">Description</th><th style="text-align:center">Start</th><th style="text-align:center">End</th><th style="text-align:center">Color</th><th style="text-align:center">Full Day</th><th style="text-align:right"></th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(DdayDetails, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td />').html(val.Subject));
                        $row.append($('<td  style="text-align:center"/>').html(val.Description));
                        $row.append($('<td  style="text-align:center"/>').html(val.start));
                        $row.append($('<td  style="text-align:center"/>').html(val.end));
                        $row.append($('<td  style="text-align:center"/>').html(val.Color));
                        $row.append($('<td  style="text-align:center"/>').html(val.isFullDay));
                        var $remove = $('<a href="#" style="color:red">Remove</a>');
                        $remove.click(function (e) {
                            tableIndex--;
                            e.preventDefault();
                            DdayDetails.splice(i, 1);
                            GeneratedItemsTable();
                        });
                        $row.append($('<td style="color:red;text-align:right"/>').html($remove));
                        $tbody.append($row);
                    });
                    console.log("current", DdayDetails);
                    $table.append($tbody);
                    $('#DdayDetails').html($table);
                }
            }
            //////////
            $('#submit').click(function () {
                var isAllValid = true;

                if ($('#EventDay').val().trim() == '') {
                    $('#EventDay').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#EventDay').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#Dday').val().trim() == '') {
                    $('#Dday').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#Dday').siblings('span.error').css('visibility', 'hidden');
                }
                var Ddayval;
                var DdayvalEnd;
                if($('#isFullDayMain').is(":checked") ){
                    Ddayval = $('#Dday2').val().trim();
                    var date = new Date($("#DdayEnd2").val());
                    var newdate = new Date(date);
                    newdate.setDate(newdate.getDate() + 1);
                    var dts = newdate.toISOString();
                    DdayvalEnd = dts.substring(0, dts.length - 1);
                    //alert(dts.substring(0, dts.length - 1));
                    //var dts = newdate.toISOString();
                }
                else{
                    Ddayval = $('#Dday').val().trim();
                    DdayvalEnd = $('#DdayEnd').val().trim();
                }
                //if (isAllValid)
                {

                    var data = {
                        EventDay: $('#EventDay').val().trim(),
                        Dday: Ddayval,
                        DdayEnd: DdayvalEnd,
                        mainColor: $('#mainColor').val().trim(),
                        isFullDayMain: $('#isFullDayMain').is(":checked") || false,
                        DdayDetails: DdayDetails
                    }
                }
                $(this).val('Please wait...');
                console.log(data);
                $.ajax({
                    url: '/eventDdays/Create',
                    type: "POST",
                    data: data,
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            alert('Successfully done.');
                            window.location.href = "/eventDdays/Index";
                            //clear form

                        }
                        else {
                            alert('Failed');
                        }
                        $('#submit').val('Save');
                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Save');
                    }
                });
            });

        })
        ///////////////////////////
        //////////////////////////
    </script>
}

<div class="container" style="margin-left:30px">
    <h4 style="text-align:center;color:orangered">Create New Event</h4>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset style="font-size:small" class="scheduler-border">
            <legend style="font-size:small;color:darkblue" class="scheduler-border">Create New Event</legend>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Event*", htmlAttributes: new { @class = "control-label col-md-3",@style = "color:red" })
                        <div class="col-md-9">
                            <input type="text" id="EventDay" class="form-control input-sm" />
                            <span class="error text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Color", htmlAttributes: new { @class = "control-label col-md-5", @style = "color:red" })
                        <div class="col-md-7">
                            <input class="form-control input-sm" name="mainColor" id="mainColor" type="text" value="@ViewBag.colorval" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Full Day", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red" })
                        <div class="col-md-6">
                            <input class="input-sm" style="width:50px" name="isFullDayMain" id="isFullDayMain" type="checkbox" />
                            <span class="error text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row col-md-12" id="ddaydiv">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Dday Start*", htmlAttributes: new { @class = "control-label col-md-5", @style = "color:red" })
                        <div class="col-md-5">
                            <input type="datetime-local" id="Dday" name="Dday" class="form-control input-sm" value="2019-04-01T00:00" />
                            <span class="error text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Dday End*", htmlAttributes: new { @class = "control-label col-md-5", @style = "color:red" })
                        <div class="col-md-5">
                            <input type="datetime-local" id="DdayEnd" name="DdayEnd" class="form-control input-sm" value="2019-04-01T00:00" />
                            <span class="error text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12" id="ddaydiv2">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Dday Start*", htmlAttributes: new { @class = "control-label col-md-5", @style = "color:red" })
                        <div class="col-md-5">
                            <input type="date" id="Dday2" name="Dday2" class="form-control input-sm" value="2019-04-01T00:00" />
                            <span class="error text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Dday End*", htmlAttributes: new { @class = "control-label col-md-5", @style = "color:red" })
                        <div class="col-md-5">
                            <input type="date" id="DdayEnd2" name="DdayEnd2" class="form-control input-sm" value="2019-04-01T00:00" />
                            <span class="error text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br />


        <div class="form-group">
            <fieldset style="font-size:small" class="scheduler-border">
                <legend style="font-size:small;color:darkblue" class="scheduler-border">Dday Details</legend>
                <div class="table-responsive">
                    <table id="myTable" class="table">
                        <tr>
                            <td style="text-align:center">Subject</td>
                            <td style="text-align:center">Description</td>
                            <td style="text-align:center">start </td>
                            <td style="text-align:center">end </td>
                            <td style="text-align:center" hidden>Color </td>
                            <td style="text-align:center">Full Day  </td>
                            <td style="text-align:right">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control input-sm" type="text" name="Subject" id="Subject" 
                                       ondrop="return false;"  />
                                <span class="error text-danger">Subject required</span>
                            </td>
                            <td>
                                <input class="form-control input-sm" type="text" name="Description" id="Description" />
                                <span class="error text-danger">Description required</span>
                            </td>
                            <td>
                                <input class="form-control input-sm" name="start" id="start" type="datetime-local" value="2019-04-18T00:00" />
                                <span class="error text-danger">start Date required</span>
                            </td>
                            <td>
                                <input class="form-control input-sm" name="end" id="end" type="datetime-local" value="2019-04-19T00:00" />

                            </td>
                            <td hidden>
                                <input class="form-control input-sm" name="Color" id="Color" type="text" value="@ViewBag.colorval" disabled />
                                @*<select name="Color" id="Color" class="form-control input-sm">
                                    <option value="red">NULL</option>
                                    <option value="red">Red</option>
                                    <option value="green">Green</option>
                                    <option value="blue">Blue</option>
                                    <option value="black">Black</option>
                                </select>*@
                            </td>
                            <td>
                                <input class="input-sm" style="width:50px" name="isFullDay" id="isFullDay" type="checkbox" />

                            </td>
                            <td>
                                <input type="button" id="add" value="add" class="btn btn-info btn-sm" />
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend style="font-size:small;color:darkblue" class="scheduler-border">Table Details</legend>
                <div id="DdayDetails" class="table-responsive" style="font-size:small">
                </div>
            </fieldset>
            <br />
            <div style="text-align:center">
                <input style="width:25%;font-size:larger" id="submit" type="button" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
</div>

